.navbar-logo {
    width: 150px; 
    height: auto;
    margin-right: 10px;
}

.navbar {
    display: flex;
    align-items: center; 
    background-color: #333;
    padding: 10px;
}

.navbar-item {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar-item:hover {
    background-color: #555;
}

.separator {
    color: white;
    margin: 0 10px;
}
